.activityCard {
  max-width: 563px;
  width: 100%;
  height: 310px;
  background: #e4e9f9;
  border-radius: 30px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activityCardOpen {
  width: 100%;
  height: 310px;
  background: #e4e9f9;
  border-radius: 30px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activityHead {
  display: flex;
  justify-content: space-between;
}
.weekSection {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.weekHours {
  margin-bottom: 80%;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
}
.activityWeek {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1318px) {
  .activityCard {
    width: 100%;
    max-width: none;
  }
}
