.title {
  color: #0e1217;
  font-style: normal;
  font-weight: 1000;
  font-size: 48px;
  line-height: 38px;
  font-family: "Darker Grotesque";
  padding-left: 1%;
}
.head {
  padding-right: 1%;
  margin-bottom: 2%;
}
