.box {
  width: 63px;
  height: 45px;
  background: #ffffff;
  border-radius: 9px;
  color: black;
  position: relative;
  /* display: flex; */
  text-align: center;
  margin-bottom: 20%;
}

.box.arrow-bottom:after {
  content: " ";
  position: absolute;
  right: 33%;
  bottom: -9px;
  border-top: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: none;
}
.hrs {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 154% */

  /* display: flex;
  align-items: flex-end; */

  color: #0e1217;
  margin: 0;
}
.dte {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  /* display: flex;
  align-items: flex-end; */
  margin: 0;

  color: rgba(14, 18, 23, 0.32);
}
