.emailHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.emailInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
}
.emailPerson {
  display: flex;
  padding-left: 2%;
  align-items: center;
}
.eName {
  margin-inline: 5%;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.mstatus {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.mtime {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
