.App {
  background-color: #fff;
  font-family: "Darker Grotesque";
}
.container {
  margin-right: 0 !important;
  margin-left: 0 !important;
  max-width: 100% !important;
  margin-top: 2% !important;
  transition: all 3s;
}
.activitySection {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.col-8 {
  width: 70.666667% !important;
  transition: all 3s;
}
.col-4 {
  width: 29.33333% !important;
}
.col-1 {
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 1% !important;
}
.col-11 {
  margin: 0px !important;
  padding: 0px !important;
}
.info2Container {
  width: 30%;
  transition: all 1s;
}
.progressHead,
.progressHead h3 {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 22px;
  align-items: center;
}
.progressHead {
  margin-bottom: 34px;
}
.more,
.more h3 {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  margin-inline: 20px;
}

@media screen and (max-width: 1318px) {
  .activitySection {
    flex-direction: column;
  }
  .info2Container {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 880px) {
  .col-1 {
    width: 4.33333% !important;
  }
  .sideContainerMain {
    display: none !important;
  }
  .secondRow {
    flex-direction: column;
  }
  .col-4 {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .col-8 {
    width: 100% !important;
  }
  .title {
    font-size: 30px !important;
  }
  .hstack {
    flex-wrap: wrap;
  }
  .leaderCard {
    height: auto !important;
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 625px) {
  .info2Container {
    flex-direction: column;
  }
  .col-4 {
    flex-direction: column;
  }
  .leaderCard {
    margin-top: 4% !important;
  }
  .emailInfo {
    flex-direction: column;
  }
  .emailPerson {
    flex-direction: column;
  }
}
